# 01
주어진 데이터는 각 고객이 가입한 서비스와 계정 정보, 인구에 대한 통계 정보들이가. 주어진 훈련 데이터를 이용하여 모델을 훈련한 후 테스트 데이터로 고객의 이탈 여부를 예측하고 csv 포맷으로 제출하시오. (단, 이탈 : "Yes", 유지 : "No")

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

data=pd.read_csv('data/WA_Fn-UseC_-Telco-Customer-Churn.csv')
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [2]:
data.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [3]:
data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [4]:
X=data[data.columns[:-1]]
y=data[['Churn']]

In [5]:
X_dummies=pd.get_dummies(X)
X_dummies

,SeniorCitizen,tenure,MonthlyCharges,customerID_0002-ORFBO,customerID_0003-MKNFE,customerID_0004-TLHLJ,customerID_0011-IGKFF,customerID_0013-EXCHZ,customerID_0013-MHZWF,customerID_0013-SMEOE,...,TotalCharges_995.35,TotalCharges_996.45,TotalCharges_996.85,TotalCharges_996.95,TotalCharges_997.65,TotalCharges_997.75,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9
0,0,1,29.85,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,34,56.95,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,2,53.85,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,45,42.30,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,2,70.70,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,24,84.80,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7039,0,72,103.20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7040,0,11,29.60,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7041,1,4,74.40,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7042,0,66,105.65,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X_dummies, y, stratify=y)

In [7]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(X_train)
X_scaled_train=scaler.transform(X_train)
X_scaled_test=scaler.transform(X_test)

In [8]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_scaled_train, y_train)
model.score(X_scaled_train, y_train)

0.9344945096554336

In [9]:
model.score(X_scaled_test, y_test)

0.797274275979557

In [10]:
pred_test=model.predict(X_scaled_test)
pred_prob=model.predict_proba(X_scaled_test)

In [11]:
y_test['pred']=pred_test
y_test[['prob_No','prob_Yes']]=pred_prob
y_test

     Churn pred   prob_No  prob_Yes
4499   Yes  Yes  0.447155  0.552845
1515    No   No  0.870216  0.129784
1180    No   No  0.968127  0.031873
6838   Yes  Yes  0.357804  0.642196
1648    No   No  0.774019  0.225981
...    ...  ...       ...       ...
2      Yes   No  0.748448  0.251552
6641   Yes   No  0.726408  0.273592
2314    No   No  0.989267  0.010733
5010    No   No  0.980417  0.019583
553     No   No  0.968197  0.031803

[1761 rows x 4 columns]

In [13]:
y_test.to_csv('data/Churn_Predict.csv')

# 02
다음은 mtcars 데이터 세트로 32개 자동차들의 디자인과 성능을 비교한 데이터이다. 훈련 데이터와 평가 데이터를 7:3으로 분할한 후 연비(mpg)를 예측하는 최적 모델을 만들고 RMSE로 평가 결과를 구하시오.

In [19]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

data=pd.read_csv('data/mtcars.csv',index_col=0)
data.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [26]:
y=data[['mpg']]
#X=data[data.columns[1:]]
X=data[['cyl','disp','hp','drat','wt','vs','am','carb']]

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, train_size=0.7)

In [28]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(X_train)
X_scaled_train=scaler.transform(X_train)
X_scaled_test=scaler.transform(X_test)

In [29]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_scaled_train, y_train)
model.score(X_scaled_train, y_train)

0.9079175991939984

In [31]:
pred_test=model.predict(X_scaled_test)
model.score(X_scaled_test, y_test)

0.6434190859820235

In [36]:
from sklearn.metrics import mean_squared_error

MSE=mean_squared_error(y_test, pred_test)
np.sqrt(MSE)

3.404396244598282

In [52]:
from sklearn.svm import SVR
model=SVR(C=10, kernel='linear')
model.fit(X_scaled_train, y_train)
model.score(X_scaled_train, y_train)

0.8735417933066462

In [53]:
pred_test=model.predict(X_scaled_test)
model.score(X_scaled_test, y_test)

0.7240058960035327

In [56]:
MSE=mean_squared_error(y_test, pred_test)
result=np.sqrt(MSE)
print(result)

2.995097454639294

In [51]:
'''
from sklearn.model_selection import GridSearchCV
grid=GridSearchCV(SVR(),
                 param_grid={'C':[0.001, 0.01, 0.1, 1, 10, 100],
                            'kernel':['linear','rbf']},
                 cv=5)
grid.fit(X_scaled_train, y_train)
print(f"best parameter: {grid.best_params_}\nbest score : {grid.score(X_scaled_test, y_test)}")
'''

best parameter: {'C': 10, 'kernel': 'linear'}
best score : 0.7240058960035327